/*master style */

body {
  display: grid;
  height: 100vh;
  grid-template-rows: .2fr .25fr 2fr 1fr;
}

header {
  background: white;
  display:flex;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
}

div.charimg{
  position: relative;
  top:-25%;
  right:42%;
}

div.charname{
  position:relative;
  top: 37%;
  right: 40%;
  z-index: 1;
}

.border {
  background: brown;
  position:relative;
  top: -175%;
}

main {
  background: coral;
}

footer {
  background: wheat;
  padding: 10rem;
  text-align: center;
}
